<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Editing User</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>