<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>New Registration</h1>
		</div>
	</div>
<%= render 'form' %>
<br>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Back', event_option_registrations_path %>
		</div>
	</div>
<hr>
</div>