<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Edit Event Registration Option</h2>
		</div>
	</div>
<%= render 'form' %>
<br>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Show', event_option_path %> |
			<%= link_to 'Back', event_options_path  %>
		</div>
	</div>
<hr>
</div>

