<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>New Event Registration Option</h1>
		</div>
	</div>
<%= render 'form' %>
<br>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Back', event_options_path  %>
		</div>
	</div>
<hr>
</div>

