<div class="container-fluid regular-container spacer-top-lg">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-3 spacer-top-sm text-center">
      <h4>Thanks for contacting us. We'll contact you soon</h4>
      <h4>Gracias! Nos contactaremos pronto con usted</h4>
    </div>
  </div>
  <br>
</div>
