<div class="container-fluid regular-container spacer-top-lg">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 spacer-top-md">
			<p>We'll have the registration form for this <strong>event available soon</strong>. Leave us your information and we will contact you soon with the details</p>
			<p>Tendermos la <strong>forma de registracion disponible pronto</strong>, Dejemos su informacion y nos comunicaremos con detalles pronto</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= render 'form' %>		
		</div>
	</div>

</div>
