<div id="customflash" class="hide"> Registration Deleted</div>
<div class="container-fluid events-container">
	<div class="row text-center">
		<div class="col-sm-12 no-left-padding"><h2>Your Shopping Cart</h2></div>
	</div>	
	<div id="shopping-cart">
	  <%= render "shopping_cart" %>
	</div>
	<div class="row text-right">
		<div class="col-sm-11">
			<h3><%= link_to 'Proceed to Checkout', order_path(session[:order_id]), class: "btn btn-primary" %></h3>
		</div>
	</div>
	<hr>
</div>